<?xml version='1.0' encoding='utf-8'?>
<plugin id="io.sevensignals.mediaNotifications" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>mediaNotifications</name>
    <description>receive activity from spotify and google play</description>
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <engines>
        <engine name="cordova" version=">=3.9.0" />
    </engines>
    <asset src="www/mediaNotifications.js" target="js/mediaNotifications.js" />
    <js-module name="mediaNotifications" src="www/mediaNotifications.js">
        <clobbers target="mediaNotifications" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="mediaNotifications">
                <param name="android-package" value="io.sevensignals.mediaNotifications.mediaNotifications" />
            </feature>
        </config-file>

        <source-file src="src/android/mediaNotifications.java"
            target-dir="src/io/sevensignals/mediaNotifications/" />
    </platform>
</plugin>
